@import "layouts.css";
@import "modules.css";
@import "reset.css";

@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

img {
  width: 150px;
  height: 150px;
  padding: 10px;
}
h1 {
  font-size: xx-large;
  margin: 10px 0 20px 0;
}
* {
  font-family: "Gloria Hallelujah", cursive;
}
